@mixin font-style($size: 1.5, $lineHeight: 1.5, $fontWeight: 300, $color: $uq) {
  font-size: $size + em !important;
  line-height: $lineHeight + em;
  font-weight: $fontWeight !important;
  color: $color;
}

h1 {
  @include font-style(1.5, 1.5, 600, $uq);
  margin: 0;
}

h2 {
  @include font-style(1.13, 1.25, 600, $uq);
  margin: 10px 0;
}

h3 {
  @include font-style(1, 1.13, 400, $uq);
}

h4 {
  @include font-style(0.94, 0.94, 500, $uq);
}

h5 {
  @include font-style(0.87, 0.87, 400, $purple);
}