# Common configuration shared between Vue frontend apps and server
# WARNING: DO NOT EXPOSE ANY SENSITIVE INFORMATION e.g. db password in this file

VUE_APP_PACSEQSOCKET_RESEND_INTERVAL_MS=2000
VUE_APP_WEBSOCKETS_RECONNECTION_AMOUNT=5

VUE_APP_GROUP_DEFAULT_SIZE=3
VUE_APP_GROUP_FORMATION_TIMEOUT_MINS=0.5

VUE_APP_MAX_ANSWER_INPUT_LENGTH=1024
VUE_APP_MAX_CHAT_INPUT_LENGTH=1024

# Trailing slash required
VUE_APP_SERVER_URL="http://localhost:8080/"
VUE_APP_CLIENT_URL="http://localhost:8080/client/"