@import "./variables";

button {
    border: none;
    border-radius: 5px;
    color: $white;
    cursor: pointer;

    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;

    min-height: 40px;
    min-width: 150px;
    padding: 0 30px;

    &.primary {
      background-color: $primary;
    }

    &.secondary {
      background-color: $baseLight3;
      height: 40px;
      width: 100%;
    }
}