// Color Variables
$text: #515456;
$primary: #225566;
$mainBg: #f9fbfc;

$baseLight1: #6dc7b7;
$baseDark1: #60afa1;
$baseLight2: #99b204;
$baseDark2: #869b03;
$baseLight3: #ffae00;
$baseDark3: #e8a004;
$baseLight4: #ff7659;
$baseDark4: #e26a51;

// Standards
$uq: #51247a;
$purple: #962a8b;
$red: #e62645;
$orange: #eb602b;
$yellow: #fbb000;
$light-blue: #00a2c7;
$blue: #4085c6;
$green: #2ea836;
$elipse-blue: #4a5b6d;

// Neutrals
$grey: #d7d1cc;
$dark-grey: #999490;
$darker-grey: #333;
$border-grey: #e8e3e0;
$shadow-grey: #e1e1e1;
$light-grey: #f3eded;

// Basics
$white: #ffffff;
$black: #00000029;

//mixins
@mixin transparent-color($color, $hover: true) {
    background-color: rgba($color, 0.15);
    color: $color;
  
    @if ($hover) {
      &:hover {
        background-color: rgba($color, 1);
        color: $white;
      }
    }
}

@mixin solid-color($color) {
    background-color: $color;
    color: $white;
}

//Color classes
.primary-cl{
    @include transparent-color($primary, true);
}
.primary-cl-static{
    @include transparent-color($primary, false);
}
.primary-cl-solid{
    @include solid-color($primary);
}

.uq {
  @include transparent-color($uq, true);
}
.uq-static {
  @include transparent-color($uq, false);
}
.uq-solid {
  @include solid-color($uq);
}
.purple-cl {
  @include transparent-color($purple, true);
}
.purple-cl-static {
  @include transparent-color($purple, false);
}
.purple-cl-solid {
  @include solid-color($purple);
}
.red-cl {
  @include transparent-color($red, true);
}
.red-cl-static {
  @include transparent-color($red, false);
}
.red-cl-solid {
  @include solid-color($red);
}
.orange-cl {
  @include transparent-color($orange, true);
}
.orange-cl-static {
  @include transparent-color($orange, false);
}
.orange-cl-solid {
  @include solid-color($orange);
}
.yellow-cl {
  @include transparent-color($yellow, true);
}
.yellow-cl-static {
  @include transparent-color($yellow, false);
}
.yellow-cl-solid {
  @include solid-color($yellow);
}
.light-blue-cl {
  @include transparent-color($light-blue, true);
}
.light-blue-cl-static {
  @include transparent-color($light-blue, false);
}
.light-blue-cl-solid {
  @include solid-color($light-blue);
}
.blue-cl {
  @include transparent-color($blue, true);
}
.blue-cl-static {
  @include transparent-color($blue, false);
}
.blue-cl-solid {
  @include solid-color($blue);
}
.green-cl {
  @include transparent-color($green, true);
}
.green-cl-static {
  @include transparent-color($green, false);
}
.green-cl-solid {
  @include solid-color($green);
}
.grey-cl {
  @include transparent-color($grey, true);
}
.grey-cl-static {
  @include transparent-color($grey, false);
}
.grey-cl-solid {
  @include solid-color($grey);
}
.dark-grey-cl {
  @include transparent-color($dark-grey, true);
}
.dark-grey-cl-static {
  @include transparent-color($dark-grey, false);
}
.dark-grey-cl-solid {
  @include solid-color($dark-grey);
}