// Color Variables
$text: #515456;
$primary: #225566;
$mainBg: #f9fbfc;

$baseLight1: #6dc7b7;
$baseDark1: #60afa1;
$baseLight2: #99b204;
$baseDark2: #869b03;
$baseLight3: #ffae00;
$baseDark3: #e8a004;
$baseLight4: #ff7659;
$baseDark4: #e26a51;

// Standards
$uq: #51247a;
$purple: #962a8b;
$red: #e62645;
$orange: #eb602b;
$yellow: #fbb000;
$light-blue: #00a2c7;
$blue: #4085c6;
$green: #2ea836;
$elipse-blue: #4a5b6d;

// Neutrals
$grey: #d7d1cc;
$dark-grey: #999490;
$darker-grey: #333;
$border-grey: #e8e3e0;
$shadow-grey: #e1e1e1;
$light-grey: #f3eded;

// Basics
$white: #ffffff;
$black: #00000029;

//mixins
@mixin transparent-color($color, $hover: true) {
    background-color: rgba($color, 0.15);
    color: $color;
  
    @if ($hover) {
      &:hover {
        background-color: rgba($color, 1);
        color: $white;
      }
    }
}

@mixin solid-color($color) {
    background-color: $color;
    color: $white;
}

//Color classes
