<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
</head>

<body>
    <h1> LTI Launcher for MOOCchat </h1>
    <form action="." method="POST">
        <table>
            <tr><td>user_id</td><td><input type="text" name="user_id" value="uqjli23"></td></tr>
            <tr><td>lis_person_name_full</td><td><input type="text" name="lis_person_name_full" value="James Li"></td></tr>
            <tr><td>context_id</td><td><input type="text" name="context_id" value="ENGG1200N_6660_00001"></td></tr>
            <tr><td>lis_course_section_sourcedid</td><td><input type="text" name="lis_course_section_sourcedid" value="ENGG1200N_6660_00001"></td></tr>
            <tr><td>tool_consumer_info_version</td><td><input type="text" name="tool_consumer_info_version" value="9.1.201510"></td></tr>
            <tr><td>context_title</td><td><input type="text" name="context_title" value="Staging TEST - [ENGG1200] Semester 2, 2015"></td></tr>
            <tr><td>lti_message_type</td><td><input type="text" name="lti_message_type" value="basic-lti-launch-request"></td></tr>
            <tr><td>launch_presentation_document_target</td><td><input type="text" name="launch_presentation_document_target" value="frame"></td></tr>
            <tr><td>ext_lms</td><td><input type="text" name="ext_lms" value="learn-9.1.201510"></td></tr>
            <tr><td>tool_consumer_info_product_family_code</td><td><input type="text" name="tool_consumer_info_product_family_code" value="learn"></td></tr>
            <tr><td>tool_consumer_instance_contact_email</td><td><input type="text" name="tool_consumer_instance_contact_email" value="bbadmin@elearning.uq.edu.au"></td></tr>
            <tr><td>resource_link_id</td><td><input type="text" name="resource_link_id" value="ENGG1200N_6660_00001_160288_1"></td></tr>
            <tr><td>roles</td><td><input type="text" name="roles" value="TeachingAssistant"></td></tr>
            <tr><td>oauth_signature_method</td><td><input type="text" name="oauth_signature_method" value="HMAC-SHA1"></td></tr>
            <tr><td>oauth_callback</td><td><input type="text" name="oauth_callback" value="about:blank"></td></tr>
            <tr><td>tool_consumer_instance_guid</td><td><input type="text" name="tool_consumer_instance_guid" value="a757a9cdd8d4485796c994b66de079b7"></td></tr>
            <tr><td>lis_person_name_family</td><td><input type="text" name="lis_person_name_family" value="Li"></td></tr>
            <tr><td>lis_person_contact_email_primary</td><td><input type="text" name="lis_person_contact_email_primary" value="james.li1@uq.edu.au"></td></tr>
            <tr><td>context_label</td><td><input type="text" name="context_label" value="ENGG1200N_6660_00001"></td></tr>
            <tr><td>lis_person_sourcedid</td><td><input type="text" name="lis_person_sourcedid" value="806243"></td></tr>
            <tr><td>lis_course_offering_sourcedid</td><td><input type="text" name="lis_course_offering_sourcedid" value="ENGG1200N_6660_00001"></td></tr>
            <tr><td>tool_consumer_instance_description</td><td><input type="text" name="tool_consumer_instance_description" value="The University of Queensland"></td></tr>
            <tr><td>launch_presentation_locale</td><td><input type="text" name="launch_presentation_locale" value="en_US"></td></tr>
            <tr><td>launch_presentation_return_url</td><td><input type="text" name="launch_presentation_return_url" value="https://staging-blackboard.elearning.uq.edu.au/webapps/osc-BasicLTI-BBLEARN/return.jsp?id=moocchat&amp;course_id=_22551_1&amp;content_id=_160288_1&amp;lti_page=tool&amp;globalNavigation=false"></td></tr>
            <tr><td>context_type</td><td><input type="text" name="context_type" value="CourseSection"></td></tr>
            <tr><td>lis_person_name_given</td><td><input type="text" name="lis_person_name_given" value="James"></td></tr>
            <tr><td>lti_version</td><td><input type="text" name="lti_version" value="LTI-1p0"></td></tr>
            <tr><td>tool_consumer_instance_url</td><td><input type="text" name="tool_consumer_instance_url" value="https://staging-blackboard.elearning.uq.edu.au"></td></tr>
            <tr><td>tool_consumer_instance_name</td><td><input type="text" name="tool_consumer_instance_name" value="UQ"></td></tr>
            <tr><td>resource_link_title</td><td><input type="text" name="resource_link_title" value="MOOCchat"></td></tr>
            <tr><td>oauth_consumer_key</td><td><input type="text" name="oauth_consumer_key" value="moocchat.uqcloud.net"></td></tr>
            <tr><td>oauth_timestamp</td><td><input type="text" name="oauth_timestamp" value="1466998028"></td></tr>
            <tr><td>oauth_nonce</td><td><input type="text" name="oauth_nonce" value="3373154933196515"></td></tr>
            <tr><td>oauth_version</td><td><input type="text" name="oauth_version" value="1.0"></td></tr>
            <tr><td>oauth_signature</td><td><input type="text" name="oauth_signature" value="+AKF4oayRUKaIjCL80z6u5+yAms="></td></tr>

            <tr><td><button formaction="/">Launch standard client</button> <button formaction="/backup-client">Launch client for backup queue</button></td></tr>
        </table>
    </form>
</body>

</html>