@import "uq-branding";

/**
 * MOOCchat
 */

// Colours
$mc-colour-1: darken($uq-colour-B4, 10%);
$mc-colour-2: $uq-colour-B5;

$body-bg-colour: lighten($mc-colour-1, 80%);

// Dimensions
$mc-sidebar-width: 18rem;

$mc-sidebar-padding-tb: 1.2rem;
$mc-sidebar-padding-lr: 2rem;


// Mixins

@function fg-on-bg($bg-color) {
  @if (lightness($bg-color) > 50) {
    @return black;
  } @else {
    @return white;
  }
}







/** General **/

html, body {
    box-sizing: border-box;

    background: $body-bg-colour;
    
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

*, *::before, *::after {
    box-sizing: inherit;
}


/** Core **/

#header {
    background: $mc-colour-1;
    color: fg-on-bg($mc-colour-1);
    text-shadow: 0.05em 0.05em 0.05em #555;

    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;

    width: $mc-sidebar-width;

    font-size: 1.2rem;
}

#content {
    position: absolute;
    left: $mc-sidebar-width;
    top: 0;
    bottom: 0;
    right: 0;

    overflow: auto;

    padding: $mc-sidebar-padding-tb*2;
}


/** Header/sidebar **/

#moocchat-name {
    line-height: 1;
    margin: $mc-sidebar-padding-tb*2 $mc-sidebar-padding-lr $mc-sidebar-padding-tb;
}

#course-name {
    font-style: italic;
    margin: $mc-sidebar-padding-tb $mc-sidebar-padding-lr $mc-sidebar-padding-tb*2;
}

#logo {
    @if (lightness($mc-colour-1) > 50) {
        @extend .uq-logo;
    } @else {
        @extend .uq-logo-white;
    }

    position: absolute;
    width: 100%;
    height: 3rem;
    bottom: $mc-sidebar-padding-tb;
}


/** Task sections **/

#task-sections {
    list-style: none;
    padding: 0;
    margin: 0;

    display: block;

    li {
        position: relative;

        display: block;

        padding: $mc-sidebar-padding-tb $mc-sidebar-padding-lr;
        margin: 0;
        border-top: 0.05em solid darken($mc-colour-1, 5%);
        border-bottom: 0.05em solid darken($mc-colour-1, 5%);

        &.active {
            background: $body-bg-colour;
            border-top-color: $body-bg-colour;
            border-bottom-color: $body-bg-colour;

            color: #555;
            text-shadow: 0.05em 0.05em 0 #e0e0e0;
            font-weight: bold;
        }

        &.timer {
            padding-right: 4.5rem;

            &::after {
                display: inline-block;
                content: attr(data-time-left);

                position: absolute;
                right: $mc-sidebar-padding-lr*0.7;
                top: 50%;

                margin-top: -0.5em;

                font-size: 1rem;
                line-height: 1;

                opacity: 0.7;
            }

            &.active::after {
                color: green;
                text-shadow: none;
                opacity: 1;
            }

            &.out-of-time::after {
                color: red;
                outline: 0.2em solid red;
            }

            &.timer-paused::after {
                color: inherit;
                opacity: 0.4;
            }

            &.timer-hidden::after {
                display: none;
            }
        }

        & + li {
            border-top: 0;
        }

        a {
            color: inherit;
        }
    }






}
































/** Loader **/
/* http://projects.lukehaas.me/css-loaders/ */
#group-formation-loader {
    display: inline-block;
    margin: 2.8em;
    font-size: 25px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: spinner-loader 1s infinite ease;
    animation: spinner-loader 1s infinite ease;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

@-webkit-keyframes spinner-loader {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em $mc-colour-1, 1.8em -1.8em 0 0em fade_out($mc-colour-1, 0.8), 2.5em 0em 0 0em fade_out($mc-colour-1, 0.8), 1.75em 1.75em 0 0em fade_out($mc-colour-1, 0.8), 0em 2.5em 0 0em fade_out($mc-colour-1, 0.8), -1.8em 1.8em 0 0em fade_out($mc-colour-1, 0.8), -2.6em 0em 0 0em fade_out($mc-colour-1, 0.5), -1.8em -1.8em 0 0em fade_out($mc-colour-1, 0.3);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em fade_out($mc-colour-1, 0.3), 1.8em -1.8em 0 0em $mc-colour-1, 2.5em 0em 0 0em fade_out($mc-colour-1, 0.8), 1.75em 1.75em 0 0em fade_out($mc-colour-1, 0.8), 0em 2.5em 0 0em fade_out($mc-colour-1, 0.8), -1.8em 1.8em 0 0em fade_out($mc-colour-1, 0.8), -2.6em 0em 0 0em fade_out($mc-colour-1, 0.8), -1.8em -1.8em 0 0em fade_out($mc-colour-1, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em fade_out($mc-colour-1, 0.5), 1.8em -1.8em 0 0em fade_out($mc-colour-1, 0.3), 2.5em 0em 0 0em $mc-colour-1, 1.75em 1.75em 0 0em fade_out($mc-colour-1, 0.8), 0em 2.5em 0 0em fade_out($mc-colour-1, 0.8), -1.8em 1.8em 0 0em fade_out($mc-colour-1, 0.8), -2.6em 0em 0 0em fade_out($mc-colour-1, 0.8), -1.8em -1.8em 0 0em fade_out($mc-colour-1, 0.8);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em fade_out($mc-colour-1, 0.8), 1.8em -1.8em 0 0em fade_out($mc-colour-1, 0.5), 2.5em 0em 0 0em fade_out($mc-colour-1, 0.3), 1.75em 1.75em 0 0em $mc-colour-1, 0em 2.5em 0 0em fade_out($mc-colour-1, 0.8), -1.8em 1.8em 0 0em fade_out($mc-colour-1, 0.8), -2.6em 0em 0 0em fade_out($mc-colour-1, 0.8), -1.8em -1.8em 0 0em fade_out($mc-colour-1, 0.8);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em fade_out($mc-colour-1, 0.8), 1.8em -1.8em 0 0em fade_out($mc-colour-1, 0.8), 2.5em 0em 0 0em fade_out($mc-colour-1, 0.5), 1.75em 1.75em 0 0em fade_out($mc-colour-1, 0.3), 0em 2.5em 0 0em $mc-colour-1, -1.8em 1.8em 0 0em fade_out($mc-colour-1, 0.8), -2.6em 0em 0 0em fade_out($mc-colour-1, 0.8), -1.8em -1.8em 0 0em fade_out($mc-colour-1, 0.8);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em fade_out($mc-colour-1, 0.8), 1.8em -1.8em 0 0em fade_out($mc-colour-1, 0.8), 2.5em 0em 0 0em fade_out($mc-colour-1, 0.8), 1.75em 1.75em 0 0em fade_out($mc-colour-1, 0.5), 0em 2.5em 0 0em fade_out($mc-colour-1, 0.3), -1.8em 1.8em 0 0em $mc-colour-1, -2.6em 0em 0 0em fade_out($mc-colour-1, 0.8), -1.8em -1.8em 0 0em fade_out($mc-colour-1, 0.8);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em fade_out($mc-colour-1, 0.8), 1.8em -1.8em 0 0em fade_out($mc-colour-1, 0.8), 2.5em 0em 0 0em fade_out($mc-colour-1, 0.8), 1.75em 1.75em 0 0em fade_out($mc-colour-1, 0.8), 0em 2.5em 0 0em fade_out($mc-colour-1, 0.5), -1.8em 1.8em 0 0em fade_out($mc-colour-1, 0.3), -2.6em 0em 0 0em $mc-colour-1, -1.8em -1.8em 0 0em fade_out($mc-colour-1, 0.8);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em fade_out($mc-colour-1, 0.8), 1.8em -1.8em 0 0em fade_out($mc-colour-1, 0.8), 2.5em 0em 0 0em fade_out($mc-colour-1, 0.8), 1.75em 1.75em 0 0em fade_out($mc-colour-1, 0.8), 0em 2.5em 0 0em fade_out($mc-colour-1, 0.8), -1.8em 1.8em 0 0em fade_out($mc-colour-1, 0.5), -2.6em 0em 0 0em fade_out($mc-colour-1, 0.3), -1.8em -1.8em 0 0em $mc-colour-1;
  }
}
@keyframes spinner-loader {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em $mc-colour-1, 1.8em -1.8em 0 0em fade_out($mc-colour-1, 0.8), 2.5em 0em 0 0em fade_out($mc-colour-1, 0.8), 1.75em 1.75em 0 0em fade_out($mc-colour-1, 0.8), 0em 2.5em 0 0em fade_out($mc-colour-1, 0.8), -1.8em 1.8em 0 0em fade_out($mc-colour-1, 0.8), -2.6em 0em 0 0em fade_out($mc-colour-1, 0.5), -1.8em -1.8em 0 0em fade_out($mc-colour-1, 0.3);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em fade_out($mc-colour-1, 0.3), 1.8em -1.8em 0 0em $mc-colour-1, 2.5em 0em 0 0em fade_out($mc-colour-1, 0.8), 1.75em 1.75em 0 0em fade_out($mc-colour-1, 0.8), 0em 2.5em 0 0em fade_out($mc-colour-1, 0.8), -1.8em 1.8em 0 0em fade_out($mc-colour-1, 0.8), -2.6em 0em 0 0em fade_out($mc-colour-1, 0.8), -1.8em -1.8em 0 0em fade_out($mc-colour-1, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em fade_out($mc-colour-1, 0.5), 1.8em -1.8em 0 0em fade_out($mc-colour-1, 0.3), 2.5em 0em 0 0em $mc-colour-1, 1.75em 1.75em 0 0em fade_out($mc-colour-1, 0.8), 0em 2.5em 0 0em fade_out($mc-colour-1, 0.8), -1.8em 1.8em 0 0em fade_out($mc-colour-1, 0.8), -2.6em 0em 0 0em fade_out($mc-colour-1, 0.8), -1.8em -1.8em 0 0em fade_out($mc-colour-1, 0.8);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em fade_out($mc-colour-1, 0.8), 1.8em -1.8em 0 0em fade_out($mc-colour-1, 0.5), 2.5em 0em 0 0em fade_out($mc-colour-1, 0.3), 1.75em 1.75em 0 0em $mc-colour-1, 0em 2.5em 0 0em fade_out($mc-colour-1, 0.8), -1.8em 1.8em 0 0em fade_out($mc-colour-1, 0.8), -2.6em 0em 0 0em fade_out($mc-colour-1, 0.8), -1.8em -1.8em 0 0em fade_out($mc-colour-1, 0.8);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em fade_out($mc-colour-1, 0.8), 1.8em -1.8em 0 0em fade_out($mc-colour-1, 0.8), 2.5em 0em 0 0em fade_out($mc-colour-1, 0.5), 1.75em 1.75em 0 0em fade_out($mc-colour-1, 0.3), 0em 2.5em 0 0em $mc-colour-1, -1.8em 1.8em 0 0em fade_out($mc-colour-1, 0.8), -2.6em 0em 0 0em fade_out($mc-colour-1, 0.8), -1.8em -1.8em 0 0em fade_out($mc-colour-1, 0.8);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em fade_out($mc-colour-1, 0.8), 1.8em -1.8em 0 0em fade_out($mc-colour-1, 0.8), 2.5em 0em 0 0em fade_out($mc-colour-1, 0.8), 1.75em 1.75em 0 0em fade_out($mc-colour-1, 0.5), 0em 2.5em 0 0em fade_out($mc-colour-1, 0.3), -1.8em 1.8em 0 0em $mc-colour-1, -2.6em 0em 0 0em fade_out($mc-colour-1, 0.8), -1.8em -1.8em 0 0em fade_out($mc-colour-1, 0.8);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em fade_out($mc-colour-1, 0.8), 1.8em -1.8em 0 0em fade_out($mc-colour-1, 0.8), 2.5em 0em 0 0em fade_out($mc-colour-1, 0.8), 1.75em 1.75em 0 0em fade_out($mc-colour-1, 0.8), 0em 2.5em 0 0em fade_out($mc-colour-1, 0.5), -1.8em 1.8em 0 0em fade_out($mc-colour-1, 0.3), -2.6em 0em 0 0em $mc-colour-1, -1.8em -1.8em 0 0em fade_out($mc-colour-1, 0.8);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em fade_out($mc-colour-1, 0.8), 1.8em -1.8em 0 0em fade_out($mc-colour-1, 0.8), 2.5em 0em 0 0em fade_out($mc-colour-1, 0.8), 1.75em 1.75em 0 0em fade_out($mc-colour-1, 0.8), 0em 2.5em 0 0em fade_out($mc-colour-1, 0.8), -1.8em 1.8em 0 0em fade_out($mc-colour-1, 0.5), -2.6em 0em 0 0em fade_out($mc-colour-1, 0.3), -1.8em -1.8em 0 0em $mc-colour-1;
  }
}