html,
body {
  width: 100%;
  height: 100%;
  margin: 0px 0px 0px 0px;
  overflow-x: hidden;
  color: #5a5a5a;
}

#header {
	margin-bottom: 30px;
}
#header  h1{ 
	color: #0379A0;
	font-size:40px;
	font-family: tahoma;
}
#footer {
	position:fixed;
	bottom:20px;
	
}

.moocchat-page {
  display: block;
  width: 100%;
  margin: 0px 0px 0px 0px;
  overflow: hidden;
}

.moocchat-page > .container {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0px 0px 0px 0px;
  overflow-x: hidden;
  overflow-y: auto;
}

#consent-panel p, #consent-panel li,
#instruction-panel p, #instruction-panel li {
  color: #808080;
  /*margin-bottom: 20px;*/
  font-size: 16px;
  /*font-weight: 200;*/
  line-height: 1.4;
}

.moocchat-left-panel {
  height: 99%;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  overflow-x: hidden;
  overflow-y: auto;
}

.moocchat-reading.well,
.moocchat-learning-reading.well {
  font-size: 17px;
}

.moocchat-right-panel {
  height: 99%;
  border-bottom: 1px solid #dddddd;
  overflow-x: hidden;
  overflow-y: auto;
}

.moocchat-student-question-edit-area,
.moocchat-peer-question-answer-area, {
  overflow: auto;
  min-height: 400px;
  text-align: center;
}

.moocchat-chat-area {
  overflow: hidden;
  min-height: 400px;
  text-align: center;
}

#main-task-page > .container {
  overflow: hidden;
}

.moocchat-right-panel-direction {
  margin-top: 15px;
}

.moocchat-control-panel {
  /*position: fixed;
  bottom: 0px;*/
  margin-top: 15px;
  /*z-index: 999;*/
  text-align: right;
}

.main-task-timer {
  /*width: 280px;*/
}

.moocchat-next-button {
  /*width: 280px;*/
}

.moocchat-next-button:hover {
  
}

.moocchat-prompt,
.moocchat-choice,
.moocchat-peer-question {
  cursor: pointer;
}

.moocchat-choice-box {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  text-align: center;
  color: #fafafa;
  font-weight: bold;
  opacity: 0.9;
  display: inline-block;
}

.moocchat-choice-box-inline {
  height: 20px;
  width: 20px;
  text-align: center;
  color: #fafafa;
  font-weight: bold;
  opacity: 0.9;
  display: inline-block;
}

.list-group-item-heading.moocchat-choice-statement {
  display: inline-block;
}

.bonus-text {
  color: #ff0000;
}

.moocchat-choice-box-0 { background-color: #d9230f;/*#3232ff;*/ }

.moocchat-choice-0.selected,
.moocchat-prompt-0.selected {
  border: 1px solid #d9230f;/*#3232ff;*/
  margin-bottom: 0px;
}

.moocchat-choice-box-1 { background-color: #469408;/*#ff9600;*/ }

.moocchat-choice-1.selected,
.moocchat-prompt-1.selected{
  border: 1px solid #469408;/*#ff9600;*/
  margin-bottom: 0px;
}

.moocchat-choice-box-2 { 
		background-color: #029acf;/*#e632ff;*/
		
	}
.moocchat-correct-ans {
	height: 24px;
}
.moocchat-choice-2.selected,
.moocchat-prompt-2.selected {
  border: 1px solid #029acf;/*#e632ff;*/
  margin-bottom: 0px;
}

.moocchat-choice-box-3 { background-color: #9b479f;/*#14c80a;*/ }

.moocchat-choice-3.selected,
.moocchat-prompt-3.selected {
  border: 1px solid #9b479f;/*#14c80a;*/
  margin-bottom: 0px;
}

.moocchat-choice-box-4 { background-color: #d9831f;/*#00dcff;*/ }

.moocchat-choice-4.selected,
.moocchat-prompt-4.selected {
  border: 1px solid #d9831f;/*#00dcff;*/
  margin-bottom: 0px;
}

.moocchat-choice-box-5 { background-color: #d5d242;/*#ff8080;*/ }

.moocchat-choice-5.selected,
.moocchat-prompt-5.selected {
  border: 1px solid #d5d242;/*#ff8080;*/
  margin-bottom: 0px;
}

.moocchat-check-image {
  margin-top: -2px;
}

/*.moocchat-prompt-blank { background-color: #dddddd; }*/

.moocchat-prompt-answer-area .selected {
  padding: 15px 15px 15px 15px;
  margin-bottom: 10px;
  border-radius: 4px;
  font-size: 17px;
}

.moocchat-peer-discussion-assessment-area .selected {
  margin-top: 10px;
}

.editable-blank {
  width: 8em;
  display: inline;
}

.editable-blank-long {
  width: 24em;
}

#questionTemplatesSelected {
  font-weight: bold;
}

.list-group-item:hover {
  background-color: #f5f5f5;
}

.moocchat-chat {
  height: 350px;
  border: 1px solid #dddddd;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: left;
}

#moocchat-chat-input {
  margin-top: 10px;
  max-width: 75%;
  display: inline;
}

#moocchat-chat-send {
  margin-top: -5px;
  margin-left: 15px;
  max-width: 20%;
  display: inline;
}

.moocchat-message {
  margin: 0;
}

.moocchat-message.system {
  border-left: 5px solid #d9230f;
  color: #d9230f;
}

.moocchat-message.student-1 {
  border-left: 5px solid #3a87ad;
  color: #3a87ad;
}
.student-1 {color: #3a87ad;}

.moocchat-message.student-2 {
  border-left: 5px solid #468847;
  color: #468847;
}
.student-2 {color: #468847;}

.moocchat-message.student-3 {
  border-left: 5px solid #c09853;
  color: #c09853;
}
.student-3 {color: #c09853;}

.moocchat-explanation {
  font-size: 17px;
  height: 350px;
  overflow-x: hidden;
  overflow-y: auto;
}

.moocchat-finish-button {
  margin-top: 50px;
}

.star-rating {
  width: 125px;
  height: 25px;
  overflow: hidden;
}

.star-rating > .star {
  display: inline;
  width: 20px;
  height: 20px;
}

.moocchat-plain-text {
  font-size: 17px;
}

.form-control::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999999;
}
.form-control::-webkit-input-placeholder {
  color: #999999;
}

button:not([disabled]):hover {
  opacity: 0.8;
  -webkit-transition: All 0.4s ease;
  -moz-transition: All 0.4s ease;
  -ms-transition: All 0.4s ease;
  -o-transition: All 0.4s ease;
  transition: All 0.4s ease;
}

.correct_answer {
	font-size: 18px;

}
.has-error {
	color: #a94442;
}

.modal.in .modal-dialog {
  transform: none; /*translate(0px, 0px);*/
}