.uq-logo, .uq-logo-white, #logo {
  background-image: url(../img/uq-logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center; }

.uq-logo-white, #logo {
  background-image: url(../img/uq-logo-white.png); }

/**
 * MOOCchat
 */
/** General **/
html, body {
  box-sizing: border-box;
  background: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px; }

*, *::before, *::after {
  box-sizing: inherit; }

button {
  background: #0091b5;
  border-color: #006882;
  border-width: 0 0 0.1em 0;
  border-style: solid;
  color: white;
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0.6em 1em;
  border-radius: 0.3em; }
  button:hover {
    background: #00a5cf; }
  button:active {
    background: #007d9c;
    border-bottom-width: 0.05em;
    border-top-width: 0.05em;
    outline: none; }

button.positive {
  background: #39892f;
  border-color: #296322;
  border-width: 0 0 0.1em 0;
  border-style: solid;
  color: white;
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0.6em 1em;
  border-radius: 0.3em; }
  button.positive:hover {
    background: #419c36; }
  button.positive:active {
    background: #317628;
    border-bottom-width: 0.05em;
    border-top-width: 0.05em;
    outline: none; }

button.negative {
  background: #d6492a;
  border-color: #ac3a21;
  border-width: 0 0 0.1em 0;
  border-style: solid;
  color: white;
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0.6em 1em;
  border-radius: 0.3em; }
  button.negative:hover {
    background: #da5b3f; }
  button.negative:active {
    background: #c14125;
    border-bottom-width: 0.05em;
    border-top-width: 0.05em;
    outline: none; }

/** Core **/
#header {
  background: #0091b5;
  color: white;
  text-shadow: 0.05em 0.05em 0.05em #555;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 18rem;
  font-size: 1.2rem; }

#content {
  position: absolute;
  left: 18rem;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  padding: 2.4rem; }

/** Header/sidebar **/
#moocchat-name {
  line-height: 1;
  margin: 2.4rem 2rem 1.2rem; }

#course-name {
  font-style: italic;
  margin: 1.2rem 2rem 2.4rem; }

#logo {
  position: absolute;
  width: 100%;
  height: 3rem;
  bottom: 1.2rem; }

/** Task sections **/
#task-sections {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block; }
  #task-sections li {
    position: relative;
    display: block;
    padding: 1.2rem 2rem;
    margin: 0;
    border-top: 0.05em solid #007d9c;
    border-bottom: 0.05em solid #007d9c; }
    #task-sections li.active {
      background: white;
      border-top-color: white;
      border-bottom-color: white;
      color: #555;
      text-shadow: 0.05em 0.05em 0 #e0e0e0;
      font-weight: bold; }
    #task-sections li.timer {
      padding-right: 4.5rem; }
      #task-sections li.timer::after {
        display: inline-block;
        content: attr(data-time-left);
        position: absolute;
        right: 1.4rem;
        top: 50%;
        margin-top: -0.5em;
        font-size: 1rem;
        line-height: 1;
        opacity: 0.7; }
      #task-sections li.timer.active::after {
        background: #39892f;
        color: white;
        text-shadow: none;
        opacity: 1;
        padding: 0.4em 0.65em;
        margin-top: -0.97em;
        right: 0.7rem;
        border-radius: 0.2em;
        border: 0.1em solid white; }
      #task-sections li.timer.out-of-time::after {
        background: #aa0041;
        color: white; }
      #task-sections li.timer.timer-paused::after {
        background: none;
        color: inherit;
        opacity: 0.4; }
      #task-sections li.timer.timer-hidden::after {
        display: none; }
    #task-sections li + li {
      border-top: 0; }
    #task-sections li a {
      color: inherit; }

/** Loader **/
/* http://projects.lukehaas.me/css-loaders/ */
#group-formation-loader {
  display: inline-block;
  margin: 2.8em;
  font-size: 25px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: spinner-loader 1s infinite ease;
  animation: spinner-loader 1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0); }

@-webkit-keyframes spinner-loader {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #0091b5, 1.8em -1.8em 0 0em rgba(0, 145, 181, 0.2), 2.5em 0em 0 0em rgba(0, 145, 181, 0.2), 1.75em 1.75em 0 0em rgba(0, 145, 181, 0.2), 0em 2.5em 0 0em rgba(0, 145, 181, 0.2), -1.8em 1.8em 0 0em rgba(0, 145, 181, 0.2), -2.6em 0em 0 0em rgba(0, 145, 181, 0.5), -1.8em -1.8em 0 0em rgba(0, 145, 181, 0.7); }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 145, 181, 0.7), 1.8em -1.8em 0 0em #0091b5, 2.5em 0em 0 0em rgba(0, 145, 181, 0.2), 1.75em 1.75em 0 0em rgba(0, 145, 181, 0.2), 0em 2.5em 0 0em rgba(0, 145, 181, 0.2), -1.8em 1.8em 0 0em rgba(0, 145, 181, 0.2), -2.6em 0em 0 0em rgba(0, 145, 181, 0.2), -1.8em -1.8em 0 0em rgba(0, 145, 181, 0.5); }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 145, 181, 0.5), 1.8em -1.8em 0 0em rgba(0, 145, 181, 0.7), 2.5em 0em 0 0em #0091b5, 1.75em 1.75em 0 0em rgba(0, 145, 181, 0.2), 0em 2.5em 0 0em rgba(0, 145, 181, 0.2), -1.8em 1.8em 0 0em rgba(0, 145, 181, 0.2), -2.6em 0em 0 0em rgba(0, 145, 181, 0.2), -1.8em -1.8em 0 0em rgba(0, 145, 181, 0.2); }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 145, 181, 0.2), 1.8em -1.8em 0 0em rgba(0, 145, 181, 0.5), 2.5em 0em 0 0em rgba(0, 145, 181, 0.7), 1.75em 1.75em 0 0em #0091b5, 0em 2.5em 0 0em rgba(0, 145, 181, 0.2), -1.8em 1.8em 0 0em rgba(0, 145, 181, 0.2), -2.6em 0em 0 0em rgba(0, 145, 181, 0.2), -1.8em -1.8em 0 0em rgba(0, 145, 181, 0.2); }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 145, 181, 0.2), 1.8em -1.8em 0 0em rgba(0, 145, 181, 0.2), 2.5em 0em 0 0em rgba(0, 145, 181, 0.5), 1.75em 1.75em 0 0em rgba(0, 145, 181, 0.7), 0em 2.5em 0 0em #0091b5, -1.8em 1.8em 0 0em rgba(0, 145, 181, 0.2), -2.6em 0em 0 0em rgba(0, 145, 181, 0.2), -1.8em -1.8em 0 0em rgba(0, 145, 181, 0.2); }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 145, 181, 0.2), 1.8em -1.8em 0 0em rgba(0, 145, 181, 0.2), 2.5em 0em 0 0em rgba(0, 145, 181, 0.2), 1.75em 1.75em 0 0em rgba(0, 145, 181, 0.5), 0em 2.5em 0 0em rgba(0, 145, 181, 0.7), -1.8em 1.8em 0 0em #0091b5, -2.6em 0em 0 0em rgba(0, 145, 181, 0.2), -1.8em -1.8em 0 0em rgba(0, 145, 181, 0.2); }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 145, 181, 0.2), 1.8em -1.8em 0 0em rgba(0, 145, 181, 0.2), 2.5em 0em 0 0em rgba(0, 145, 181, 0.2), 1.75em 1.75em 0 0em rgba(0, 145, 181, 0.2), 0em 2.5em 0 0em rgba(0, 145, 181, 0.5), -1.8em 1.8em 0 0em rgba(0, 145, 181, 0.7), -2.6em 0em 0 0em #0091b5, -1.8em -1.8em 0 0em rgba(0, 145, 181, 0.2); }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 145, 181, 0.2), 1.8em -1.8em 0 0em rgba(0, 145, 181, 0.2), 2.5em 0em 0 0em rgba(0, 145, 181, 0.2), 1.75em 1.75em 0 0em rgba(0, 145, 181, 0.2), 0em 2.5em 0 0em rgba(0, 145, 181, 0.2), -1.8em 1.8em 0 0em rgba(0, 145, 181, 0.5), -2.6em 0em 0 0em rgba(0, 145, 181, 0.7), -1.8em -1.8em 0 0em #0091b5; } }

@keyframes spinner-loader {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #0091b5, 1.8em -1.8em 0 0em rgba(0, 145, 181, 0.2), 2.5em 0em 0 0em rgba(0, 145, 181, 0.2), 1.75em 1.75em 0 0em rgba(0, 145, 181, 0.2), 0em 2.5em 0 0em rgba(0, 145, 181, 0.2), -1.8em 1.8em 0 0em rgba(0, 145, 181, 0.2), -2.6em 0em 0 0em rgba(0, 145, 181, 0.5), -1.8em -1.8em 0 0em rgba(0, 145, 181, 0.7); }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 145, 181, 0.7), 1.8em -1.8em 0 0em #0091b5, 2.5em 0em 0 0em rgba(0, 145, 181, 0.2), 1.75em 1.75em 0 0em rgba(0, 145, 181, 0.2), 0em 2.5em 0 0em rgba(0, 145, 181, 0.2), -1.8em 1.8em 0 0em rgba(0, 145, 181, 0.2), -2.6em 0em 0 0em rgba(0, 145, 181, 0.2), -1.8em -1.8em 0 0em rgba(0, 145, 181, 0.5); }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 145, 181, 0.5), 1.8em -1.8em 0 0em rgba(0, 145, 181, 0.7), 2.5em 0em 0 0em #0091b5, 1.75em 1.75em 0 0em rgba(0, 145, 181, 0.2), 0em 2.5em 0 0em rgba(0, 145, 181, 0.2), -1.8em 1.8em 0 0em rgba(0, 145, 181, 0.2), -2.6em 0em 0 0em rgba(0, 145, 181, 0.2), -1.8em -1.8em 0 0em rgba(0, 145, 181, 0.2); }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 145, 181, 0.2), 1.8em -1.8em 0 0em rgba(0, 145, 181, 0.5), 2.5em 0em 0 0em rgba(0, 145, 181, 0.7), 1.75em 1.75em 0 0em #0091b5, 0em 2.5em 0 0em rgba(0, 145, 181, 0.2), -1.8em 1.8em 0 0em rgba(0, 145, 181, 0.2), -2.6em 0em 0 0em rgba(0, 145, 181, 0.2), -1.8em -1.8em 0 0em rgba(0, 145, 181, 0.2); }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 145, 181, 0.2), 1.8em -1.8em 0 0em rgba(0, 145, 181, 0.2), 2.5em 0em 0 0em rgba(0, 145, 181, 0.5), 1.75em 1.75em 0 0em rgba(0, 145, 181, 0.7), 0em 2.5em 0 0em #0091b5, -1.8em 1.8em 0 0em rgba(0, 145, 181, 0.2), -2.6em 0em 0 0em rgba(0, 145, 181, 0.2), -1.8em -1.8em 0 0em rgba(0, 145, 181, 0.2); }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 145, 181, 0.2), 1.8em -1.8em 0 0em rgba(0, 145, 181, 0.2), 2.5em 0em 0 0em rgba(0, 145, 181, 0.2), 1.75em 1.75em 0 0em rgba(0, 145, 181, 0.5), 0em 2.5em 0 0em rgba(0, 145, 181, 0.7), -1.8em 1.8em 0 0em #0091b5, -2.6em 0em 0 0em rgba(0, 145, 181, 0.2), -1.8em -1.8em 0 0em rgba(0, 145, 181, 0.2); }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 145, 181, 0.2), 1.8em -1.8em 0 0em rgba(0, 145, 181, 0.2), 2.5em 0em 0 0em rgba(0, 145, 181, 0.2), 1.75em 1.75em 0 0em rgba(0, 145, 181, 0.2), 0em 2.5em 0 0em rgba(0, 145, 181, 0.5), -1.8em 1.8em 0 0em rgba(0, 145, 181, 0.7), -2.6em 0em 0 0em #0091b5, -1.8em -1.8em 0 0em rgba(0, 145, 181, 0.2); }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 145, 181, 0.2), 1.8em -1.8em 0 0em rgba(0, 145, 181, 0.2), 2.5em 0em 0 0em rgba(0, 145, 181, 0.2), 1.75em 1.75em 0 0em rgba(0, 145, 181, 0.2), 0em 2.5em 0 0em rgba(0, 145, 181, 0.2), -1.8em 1.8em 0 0em rgba(0, 145, 181, 0.5), -2.6em 0em 0 0em rgba(0, 145, 181, 0.7), -1.8em -1.8em 0 0em #0091b5; } }

/** Q&A sections **/
#question-content {
  background: #eee;
  padding: 1.2rem 2rem;
  border: 0.05rem solid #2f6890; }

#question-statement {
  font-weight: bold; }

#answer-block {
  margin-top: 1rem; }

#answer-block {
  background: #eee;
  border: 0.05rem solid #2f6890;
  display: table;
  position: relative; }

#answers {
  display: table-cell;
  width: 50%;
  padding: 1.5rem 2rem; }

#answers ul, #chat-answers ul {
  margin: 0;
  padding: 0;
  counter-reset: answer-counter;
  list-style: none; }

#answers li, #chat-answers li {
  padding: 1rem 1.5rem 1rem 3.5rem;
  background: #fff;
  border: 0.05rem solid #2f6890;
  position: relative; }

#answers li:hover {
  background: #eee; }

#answers li::before, #chat-answers li::before {
  list-style-type: upper-alpha;
  content: counter(answer-counter, upper-alpha);
  counter-increment: answer-counter;
  padding: 0.2rem 0.4rem;
  line-height: 1;
  background: #0091b5;
  color: white;
  display: inline-block;
  position: absolute;
  left: 1rem;
  top: 50%;
  margin-top: -0.8rem;
  font-weight: bold;
  font-size: 1.2rem; }

#answers li + li, #chat-answers li + li {
  border-top: 0; }

#answers li.selected, #chat-answers li.selected {
  background: #ddffdd; }

#justification {
  display: table-cell;
  width: 50%;
  padding: 1.5rem 2rem; }

#justification textarea {
  width: 100%;
  height: 70%;
  display: block;
  resize: vertical;
  overflow: auto;
  background: #fff;
  border: 0.05rem solid #2f6890; }

/** Chat */
#chat-question-answers-wrapper {
  width: 100%; }

#chat-question-answers-block {
  width: 100%; }

#chat-box {
  clear: both;
  border: 0.05rem solid #326d98;
  min-height: 5em;
  overflow-y: scroll;
  height: 35em; }

#chat-box > .system-message {
  display: block;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  color: #555; }

#chat-box > blockquote {
  margin: 0;
  clear: both;
  position: relative;
  text-align: right;
  line-height: 1;
  margin: 1em 0;
  margin: 1em 0.5rem;
  border-bottom: 0.2rem solid; }

#chat-box > blockquote::after {
  content: attr(data-person);
  display: inline-block;
  position: absolute;
  left: 0.5rem;
  bottom: 0.5rem;
  width: 1.4em;
  height: 1.4em;
  padding-top: 0.2em;
  background: #000;
  color: #fff;
  text-align: center;
  line-height: 1;
  font-size: 1.8em;
  width: 2rem;
  height: 2rem;
  font-size: 1.6em;
  padding-top: 0.15em;
  bottom: 0;
  left: 0; }

#chat-box > blockquote p {
  border: 0.05rem solid #888;
  padding: 1rem;
  margin: 0.2rem 0 0.2rem 3.8rem;
  display: block;
  text-align: left;
  line-height: 1.2;
  border: 0;
  padding: 0.2rem 0.7rem;
  margin-left: 2.3rem;
  margin-left: 2rem; }

#chat-box > blockquote p + p,
#chat-box[data-self-person="1"] > blockquote[data-person="1"] p + p,
#chat-box[data-self-person="2"] > blockquote[data-person="2"] p + p,
#chat-box[data-self-person="3"] > blockquote[data-person="3"] p + p {
  margin-top: -0.2rem;
  border-top: 0; }

#chat-box > blockquote[data-person="1"]::after {
  background: #000066; }

#chat-box > blockquote[data-person="2"]::after {
  background: #993366; }

#chat-box > blockquote[data-person="3"]::after {
  background: #669900; }

#chat-box > blockquote[data-person="1"] p {
  border-color: #000066;
  color: #000066; }

#chat-box > blockquote[data-person="2"] p {
  border-color: #993366;
  color: #993366; }

#chat-box > blockquote[data-person="3"] p {
  border-color: #669900;
  color: #669900; }

#chat-box > blockquote[data-person="1"] {
  border-image: linear-gradient(to right, #000066, #000066 3rem, transparent 7rem, transparent) 1;
  color: #000066; }

#chat-box > blockquote[data-person="2"] {
  border-image: linear-gradient(to right, #993366, #993366 3rem, transparent 7rem, transparent) 1;
  color: #993366; }

#chat-box > blockquote[data-person="3"] {
  border-image: linear-gradient(to right, #669900, #669900 3rem, transparent 7rem, transparent) 1;
  color: #669900; }

#chat-input-wrapper {
  display: table;
  width: 100%;
  margin-top: 0.3rem; }

#chat-input-wrapper > div {
  display: table-cell; }

#chat-input {
  width: 100%;
  padding: 0.65rem 0.4rem; }

#chat-input-button-wrapper {
  width: 1px;
  padding-left: 0.3rem; }

#chat-ui-wrapper {
  display: table;
  width: 100%; }

#chat-ui-wrapper > * {
  display: table-cell;
  width: 50%;
  vertical-align: top;
  padding: 0 0.3em; }

#chat-question-answers-block {
  background: #eee;
  border: 0.05rem solid #2f6890;
  padding: 1.5rem 2rem; }

