<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>MOOCchat Administration Panel</title>

    <link rel="stylesheet" href="./static/css/normalize/4.1.1/normalize.min.css" />
    <link rel="stylesheet" href="./static/css/flatpickr/2.2.3/flatpickr.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" />
    <link rel="stylesheet" href="./static/css/moocchat/main.css" />
    
    <% if (typeof postData !== "undefined" && postData.lti_message_type === "basic-lti-launch-request") { %>
    <!-- LTI Basic Launch data -->
    <script>
        var _LTI_BASIC_LAUNCH_DATA = <%- JSON.stringify(postData); %>;
    </script>
    <% } %>
    
    <script data-main="./static/require/admin.require.config" src="./static/js/require.js/2.2.0/require.min.js"></script>
</head>

<body class="admin-panel">
    <div id="header">
        <div id="logo"></div>
        <h1 id="moocchat-name">MOOCchat</h1>
        <div id="course-name"></div>
        <ul id="task-sections">
            <!-- <li data-section="home"><a data-action="home">Home</a></li> -->
            <li data-section="quizzes"><a data-action="quizzes">Quizzes</a></li>
            <li data-section="marking"><a data-action="marking">Marking</a></li>
            <!-- <li data-section="users"><a data-action="users">Users &amp; Sessions</a></li> -->
            <li class="separator"></li>
            <li data-section="system"><a data-action="system">System</a></li>
            <li class="separator"></li>
            <li><a data-action="log-out">Log Out</a></li>
        </ul>
    </div>
    <div id="content">
    </div>
</body>

</html>