<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
</head>

<body>
    <%

    // Default postData to a blank object if we don't get any data
    if (typeof postData === "undefined") {
        postData = {};
    }


    // Offer backup client to instructor etc.
    var offerBackupClient = false;

    if (postData.roles) {
        var roles = postData.roles.toLowerCase().split(",");

        if (roles.indexOf("instructor") > -1 ||
            roles.indexOf("teachingassistant") > -1 ||
            roles.indexOf("administrator") > -1) {
            offerBackupClient = true;
        }
    }

    %>
    <!-- Use of `_top` target means we break out from all nested frames that Blackboard might have --> 
    <form action="/" method="POST" target="_top">
        <%
        var postDataKeys = Object.keys(postData);

        postDataKeys.forEach(function(key) {
            var value = postData[key];
        %>
        <input type="hidden" name="<%= key %>" value="<%= value %>">
        <%
        });
        %>

        <% if (offerBackupClient) { %>
        <h1>MOOCchat</h1>
        <p><input type="submit" value="Launch standard MOOCchat (student)" formaction="/user/login"></p>
        <p><input type="submit" value="Launch backup queue MOOCchat (tutor/instructor)" formaction="/backup-client"> (IE10+ or latest browsers only)</p>
        <p><input type="submit" value="Launch MOOCchat administration panel" formaction="/api/admin/login"> (IE10+ or latest browsers only)</p>
    </form>
        <% } else { %>
        <input type="submit" value="Click here to continue">
    </form>
    <script>document.forms[0].submit();</script>
        <% } %>
    <p>Do not idle here for more than a couple of seconds. If you want to wait, please do so in Blackboard.</p>
</body>

</html>