@import "uq-branding";

/**
 * MOOCchat
 */

/********** Colours **********/
$body-bg-colour: #fdfdfd;
$body-std-font-size: 16px;

$mc-colour-1: #256;     // eLIPSE colour
$mc-colour-1-backup-client: $uq-colour-B5;

$pos-colour: $uq-colour-B5;     // Positive action (e.g. submit)
$neg-colour: $uq-colour-B6;     // Negative action (e.g. cancel)
$ntl-colour: #ccc;

$warning-colour: $uq-colour-B6; // General warnings
$danger-colour: $uq-colour-B1;  // Absolute warnings, errors etc.

$button-def-colour: $mc-colour-1;  // Default
$button-pos-colour: $pos-colour;
$button-neg-colour: $neg-colour; 
$button-ntl-colour: $ntl-colour; 

$answer-option-heading-colour: $mc-colour-1;

$client-1-colour: #000066;
$client-2-colour: #993366;
$client-3-colour: #669900;

$input-bg-colour: #fff;
$input-disabled-bg-colour: #ccc;

$message-border-colour: #bbb;
$message-default-bg-colour: #ddd;

/********** Dimensions **********/
$mc-sidebar-width: 18rem;

$mc-sidebar-padding-tb: 1rem;
$mc-sidebar-padding-lr: 2rem;

$thin-border-width: 0.05rem;



/********** Mixins **********/

@function fg-on-bg($bg-color) {
  @if (lightness($bg-color) > 60) {
    @return black;
  } @else {
    @return white;
  }
}

@mixin button($bg-colour) {
    $reference-colour: $bg-colour;

    background: $reference-colour;
    border-color: darken($reference-colour, 10%);
    border-width: 0 0 2px 0;
    border-style: solid;

    color: fg-on-bg($reference-colour);

    font-size: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0.6em 1em;

    border-radius: 0.3em;
}

@mixin button-hover($std-bg-colour) {
    background: lighten($std-bg-colour, 5%);
}

@mixin button-active($std-bg-colour) {
    background: darken($std-bg-colour, 5%);
    border-bottom-width: 1px;
    border-top-width: 1px;

    outline: none;
}





/********** General **********/

html, body {
    box-sizing: border-box;

    background: $body-bg-colour;
    
    font-family: "Roboto", sans-serif;
    font-size: $body-std-font-size;
}

*, *::before, *::after {
    box-sizing: inherit;
}


.hidden {
    display: none;
}

.width-full {
    width: 100%;
}

.width-half {
    width: 50%;
}

.right {
    text-align: right;
}

.margin-top-0 {
    margin-top: 0;
}

.bottom-rule {
    border-bottom: $thin-border-width solid;
}

.thin-border {
    border: $thin-border-width solid;
}


button {
    @include button($button-def-colour);
    
    vertical-align: middle;

    &:hover {
        @include button-hover($button-def-colour);
    }

    &:active {
        @include button-active($button-def-colour);
    }
}

button.positive {
    @include button($button-pos-colour);

    &:hover {
        @include button-hover($button-pos-colour);
    }

    &:active {
        @include button-active($button-pos-colour);
    }
}

button.negative {
    @include button($button-neg-colour);

    &:hover {
        @include button-hover($button-neg-colour);
    }

    &:active {
        @include button-active($button-neg-colour);
    }
}

button.neutral {
    @include button($button-ntl-colour);

    &:hover {
        @include button-hover($button-ntl-colour);
    }

    &:active {
        @include button-active($button-ntl-colour);
    }
}

button.thin {
    padding: 0.2em 1em;
}

.table {
    @extend .width-full;

    display: table;

    & > .row {
        display: table-row;

        & > * {
            display: table-cell;
            vertical-align: top;
        }
    }
}

.list-item {
    display: list-item;
    width: 100%;
}

.monospace {
    font-family: monospace;
}

.pre {
    white-space: pre;
}

.pre-wrap {
    white-space: pre-wrap;
}

.dialog {
    border: 0.2em solid;
    background: $message-default-bg-colour;
    position: absolute;
    top: 0;
    width: 94%;
    left: 0;
    margin-left: 3%;
    margin-top: 3%;
    box-shadow: 0px 5px 20px #000; 
    
    z-index: 100;

    &.warning {
        border-color: $warning-colour;
    }
}

.p-block {
    margin: 1em 0;
}

p {
    @extend .p-block;
}



/********** Core UI structure **********/

.mc-inline-message {
    @extend .thin-border;
    border-color: $message-border-colour;
    background: $message-default-bg-colour;
    padding: 1em;
}

.mc-tint {
    @extend .thin-border;

    background: transparentize($mc-colour-1, 0.9);
    color: $mc-colour-1;

    &.gold-10 {
        background: transparentize($uq-colour-A1, 0.9);
        color: $uq-colour-A1;
    }

    &.purple-6 {
        background: transparentize($uq-colour-A2, 0.94);
        color: $uq-colour-A2;
    }

    &.green-10 {
        background: transparentize($uq-colour-A3, 0.9);
        color: $uq-colour-A3;
    }

    &.color-inherit {
        color: inherit;
    }
}

.mc-box-pad {
    padding: 1rem 1.5rem;

    &.pad-thick {
        padding: 1.5rem 2rem;
    }

    &.pad-thin {
        padding: 0.6rem 1rem;
    }

    &.pad-equal {
        padding: 1rem;

        &.pad-thick {
            padding: 1.5rem;
        }

        &.pad-thin {
            padding: 0.6rem;
        }
    }
}


/********** Core UI structure **********/

#header {
    background: $mc-colour-1;
    color: fg-on-bg($mc-colour-1);
    text-shadow: 0.05em 0.05em 0.05em #555;

    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;

    width: $mc-sidebar-width;

    font-size: 1.2rem;
}

.backup-client #header {
    background: $mc-colour-1-backup-client;
    color: fg-on-bg($mc-colour-1-backup-client);
}

#content {
    position: absolute;
    left: $mc-sidebar-width;
    top: 0;
    bottom: 0;
    right: 0;

    overflow: auto;

    padding: $mc-sidebar-padding-tb*2;
}

// This is the page content that is loaded dynamically
#content > section {
    & > h1:first-child,
    & > h2:first-child,
    & > h3:first-child,
    & > h4:first-child {
        margin-top: 0;
    }
}





/********** Header/sidebar **********/

#moocchat-name {
    line-height: 1;
    margin: $mc-sidebar-padding-tb*2 $mc-sidebar-padding-lr $mc-sidebar-padding-tb;
}

#course-name {
    font-style: italic;
    margin: $mc-sidebar-padding-tb $mc-sidebar-padding-lr $mc-sidebar-padding-tb*1.5;
}

#logo {
    @if (lightness($mc-colour-1) > 60) {
        @extend .uq-logo;
    } @else {
        @extend .uq-logo-white;
    }

    position: absolute;
    width: 100%;
    height: 3rem;
    bottom: $mc-sidebar-padding-tb;
}





/********** Task sections **********/

#task-sections {
    list-style: none;
    padding: 0;
    margin: 0;

    display: block;

    // counter-reset: section-counter;

    li {
        position: relative;

        display: block;

        font-weight: 300;

        // padding: $mc-sidebar-padding-tb $mc-sidebar-padding-lr;
        padding: $mc-sidebar-padding-tb $mc-sidebar-padding-lr $mc-sidebar-padding-tb 3rem;
        margin: 0;
        // border-top: 0.05em solid darken($mc-colour-1, 5%);
        // border-bottom: 0.05em solid darken($mc-colour-1, 5%);

        background-image: url(../../img/task-section-link-mid-open.png);
        background-repeat: no-repeat;
        background-position: 1rem center;
        background-size: 20px 200px;

        &:first-child {
            background-image: url(../../img/task-section-link-top-open.png);
        }

        &:last-child {
            background-image: url(../../img/task-section-link-btm-open.png);
        }

        // &::before {
        //     content: counter(section-counter);
	    //     counter-increment: section-counter;

        //     position: absolute;
        //     font-size: 2.8rem;
        //     top: 50%;
        //     left: 1rem;
        //     margin-top: -0.5em;
        //     line-height: 1;
        //     opacity: 0.3;

        // }

        &.active {
            // background: $body-bg-colour;
            // border-top-color: $body-bg-colour;
            // border-bottom-color: $body-bg-colour;

            // color: #555;
            // text-shadow: 0.05em 0.05em 0 #e0e0e0;
            font-weight: bold;

            background-image: url(../../img/task-section-link-mid-closed.png);

            &:first-child {
                background-image: url(../../img/task-section-link-top-closed.png);
            }

            &:last-child {
                background-image: url(../../img/task-section-link-btm-closed.png);
            }
        }

        &.timer {
            padding-right: 4.5rem;

            &::after {
                display: inline-block;
                content: attr(data-time-left);

                position: absolute;
                right: $mc-sidebar-padding-lr*0.7;
                top: 50%;

                margin-top: -0.5em;

                font-size: 1rem;
                line-height: 1;

                opacity: 0.7;
            }

            &.active::after {
                background: $pos-colour;
                color: fg-on-bg($pos-colour);
                text-shadow: none;
                opacity: 1;

                padding: 0.4em 0.65em;

                margin-top: -0.97em;
                right: 0.7rem;

                border-radius: 0.2em;
                border: 0.1em solid fg-on-bg($mc-colour-1);
            }

            &.out-of-time::after {
                background: $danger-colour;
                color: fg-on-bg($danger-colour);
            }

            &.out-of-time-2::after {
                background: $warning-colour;
                color: fg-on-bg($warning-colour);
            }

            &.timer-paused::after {
                background: none;
                color: inherit;
                opacity: 0.4;
            }

            &.timer-hidden::after {
                display: none;
            }
        }

        & + li {
            border-top: 0;
        }

        a {
            color: inherit;
        }
    }






}
































/** Loader **/
/* http://projects.lukehaas.me/css-loaders/ */
#group-formation-loader {
    display: inline-block;
    margin: 2.8em;
    font-size: 25px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: spinner-loader 1s infinite ease;
    animation: spinner-loader 1s infinite ease;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

@-webkit-keyframes spinner-loader {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em $mc-colour-1, 1.8em -1.8em 0 0em fade_out($mc-colour-1, 0.8), 2.5em 0em 0 0em fade_out($mc-colour-1, 0.8), 1.75em 1.75em 0 0em fade_out($mc-colour-1, 0.8), 0em 2.5em 0 0em fade_out($mc-colour-1, 0.8), -1.8em 1.8em 0 0em fade_out($mc-colour-1, 0.8), -2.6em 0em 0 0em fade_out($mc-colour-1, 0.5), -1.8em -1.8em 0 0em fade_out($mc-colour-1, 0.3);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em fade_out($mc-colour-1, 0.3), 1.8em -1.8em 0 0em $mc-colour-1, 2.5em 0em 0 0em fade_out($mc-colour-1, 0.8), 1.75em 1.75em 0 0em fade_out($mc-colour-1, 0.8), 0em 2.5em 0 0em fade_out($mc-colour-1, 0.8), -1.8em 1.8em 0 0em fade_out($mc-colour-1, 0.8), -2.6em 0em 0 0em fade_out($mc-colour-1, 0.8), -1.8em -1.8em 0 0em fade_out($mc-colour-1, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em fade_out($mc-colour-1, 0.5), 1.8em -1.8em 0 0em fade_out($mc-colour-1, 0.3), 2.5em 0em 0 0em $mc-colour-1, 1.75em 1.75em 0 0em fade_out($mc-colour-1, 0.8), 0em 2.5em 0 0em fade_out($mc-colour-1, 0.8), -1.8em 1.8em 0 0em fade_out($mc-colour-1, 0.8), -2.6em 0em 0 0em fade_out($mc-colour-1, 0.8), -1.8em -1.8em 0 0em fade_out($mc-colour-1, 0.8);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em fade_out($mc-colour-1, 0.8), 1.8em -1.8em 0 0em fade_out($mc-colour-1, 0.5), 2.5em 0em 0 0em fade_out($mc-colour-1, 0.3), 1.75em 1.75em 0 0em $mc-colour-1, 0em 2.5em 0 0em fade_out($mc-colour-1, 0.8), -1.8em 1.8em 0 0em fade_out($mc-colour-1, 0.8), -2.6em 0em 0 0em fade_out($mc-colour-1, 0.8), -1.8em -1.8em 0 0em fade_out($mc-colour-1, 0.8);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em fade_out($mc-colour-1, 0.8), 1.8em -1.8em 0 0em fade_out($mc-colour-1, 0.8), 2.5em 0em 0 0em fade_out($mc-colour-1, 0.5), 1.75em 1.75em 0 0em fade_out($mc-colour-1, 0.3), 0em 2.5em 0 0em $mc-colour-1, -1.8em 1.8em 0 0em fade_out($mc-colour-1, 0.8), -2.6em 0em 0 0em fade_out($mc-colour-1, 0.8), -1.8em -1.8em 0 0em fade_out($mc-colour-1, 0.8);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em fade_out($mc-colour-1, 0.8), 1.8em -1.8em 0 0em fade_out($mc-colour-1, 0.8), 2.5em 0em 0 0em fade_out($mc-colour-1, 0.8), 1.75em 1.75em 0 0em fade_out($mc-colour-1, 0.5), 0em 2.5em 0 0em fade_out($mc-colour-1, 0.3), -1.8em 1.8em 0 0em $mc-colour-1, -2.6em 0em 0 0em fade_out($mc-colour-1, 0.8), -1.8em -1.8em 0 0em fade_out($mc-colour-1, 0.8);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em fade_out($mc-colour-1, 0.8), 1.8em -1.8em 0 0em fade_out($mc-colour-1, 0.8), 2.5em 0em 0 0em fade_out($mc-colour-1, 0.8), 1.75em 1.75em 0 0em fade_out($mc-colour-1, 0.8), 0em 2.5em 0 0em fade_out($mc-colour-1, 0.5), -1.8em 1.8em 0 0em fade_out($mc-colour-1, 0.3), -2.6em 0em 0 0em $mc-colour-1, -1.8em -1.8em 0 0em fade_out($mc-colour-1, 0.8);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em fade_out($mc-colour-1, 0.8), 1.8em -1.8em 0 0em fade_out($mc-colour-1, 0.8), 2.5em 0em 0 0em fade_out($mc-colour-1, 0.8), 1.75em 1.75em 0 0em fade_out($mc-colour-1, 0.8), 0em 2.5em 0 0em fade_out($mc-colour-1, 0.8), -1.8em 1.8em 0 0em fade_out($mc-colour-1, 0.5), -2.6em 0em 0 0em fade_out($mc-colour-1, 0.3), -1.8em -1.8em 0 0em $mc-colour-1;
  }
}
@keyframes spinner-loader {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em $mc-colour-1, 1.8em -1.8em 0 0em fade_out($mc-colour-1, 0.8), 2.5em 0em 0 0em fade_out($mc-colour-1, 0.8), 1.75em 1.75em 0 0em fade_out($mc-colour-1, 0.8), 0em 2.5em 0 0em fade_out($mc-colour-1, 0.8), -1.8em 1.8em 0 0em fade_out($mc-colour-1, 0.8), -2.6em 0em 0 0em fade_out($mc-colour-1, 0.5), -1.8em -1.8em 0 0em fade_out($mc-colour-1, 0.3);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em fade_out($mc-colour-1, 0.3), 1.8em -1.8em 0 0em $mc-colour-1, 2.5em 0em 0 0em fade_out($mc-colour-1, 0.8), 1.75em 1.75em 0 0em fade_out($mc-colour-1, 0.8), 0em 2.5em 0 0em fade_out($mc-colour-1, 0.8), -1.8em 1.8em 0 0em fade_out($mc-colour-1, 0.8), -2.6em 0em 0 0em fade_out($mc-colour-1, 0.8), -1.8em -1.8em 0 0em fade_out($mc-colour-1, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em fade_out($mc-colour-1, 0.5), 1.8em -1.8em 0 0em fade_out($mc-colour-1, 0.3), 2.5em 0em 0 0em $mc-colour-1, 1.75em 1.75em 0 0em fade_out($mc-colour-1, 0.8), 0em 2.5em 0 0em fade_out($mc-colour-1, 0.8), -1.8em 1.8em 0 0em fade_out($mc-colour-1, 0.8), -2.6em 0em 0 0em fade_out($mc-colour-1, 0.8), -1.8em -1.8em 0 0em fade_out($mc-colour-1, 0.8);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em fade_out($mc-colour-1, 0.8), 1.8em -1.8em 0 0em fade_out($mc-colour-1, 0.5), 2.5em 0em 0 0em fade_out($mc-colour-1, 0.3), 1.75em 1.75em 0 0em $mc-colour-1, 0em 2.5em 0 0em fade_out($mc-colour-1, 0.8), -1.8em 1.8em 0 0em fade_out($mc-colour-1, 0.8), -2.6em 0em 0 0em fade_out($mc-colour-1, 0.8), -1.8em -1.8em 0 0em fade_out($mc-colour-1, 0.8);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em fade_out($mc-colour-1, 0.8), 1.8em -1.8em 0 0em fade_out($mc-colour-1, 0.8), 2.5em 0em 0 0em fade_out($mc-colour-1, 0.5), 1.75em 1.75em 0 0em fade_out($mc-colour-1, 0.3), 0em 2.5em 0 0em $mc-colour-1, -1.8em 1.8em 0 0em fade_out($mc-colour-1, 0.8), -2.6em 0em 0 0em fade_out($mc-colour-1, 0.8), -1.8em -1.8em 0 0em fade_out($mc-colour-1, 0.8);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em fade_out($mc-colour-1, 0.8), 1.8em -1.8em 0 0em fade_out($mc-colour-1, 0.8), 2.5em 0em 0 0em fade_out($mc-colour-1, 0.8), 1.75em 1.75em 0 0em fade_out($mc-colour-1, 0.5), 0em 2.5em 0 0em fade_out($mc-colour-1, 0.3), -1.8em 1.8em 0 0em $mc-colour-1, -2.6em 0em 0 0em fade_out($mc-colour-1, 0.8), -1.8em -1.8em 0 0em fade_out($mc-colour-1, 0.8);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em fade_out($mc-colour-1, 0.8), 1.8em -1.8em 0 0em fade_out($mc-colour-1, 0.8), 2.5em 0em 0 0em fade_out($mc-colour-1, 0.8), 1.75em 1.75em 0 0em fade_out($mc-colour-1, 0.8), 0em 2.5em 0 0em fade_out($mc-colour-1, 0.5), -1.8em 1.8em 0 0em fade_out($mc-colour-1, 0.3), -2.6em 0em 0 0em $mc-colour-1, -1.8em -1.8em 0 0em fade_out($mc-colour-1, 0.8);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em fade_out($mc-colour-1, 0.8), 1.8em -1.8em 0 0em fade_out($mc-colour-1, 0.8), 2.5em 0em 0 0em fade_out($mc-colour-1, 0.8), 1.75em 1.75em 0 0em fade_out($mc-colour-1, 0.8), 0em 2.5em 0 0em fade_out($mc-colour-1, 0.8), -1.8em 1.8em 0 0em fade_out($mc-colour-1, 0.5), -2.6em 0em 0 0em fade_out($mc-colour-1, 0.3), -1.8em -1.8em 0 0em $mc-colour-1;
  }
}






















// Carried over


/********** Q&A sections **********/

#question-statement {
    font-weight: bold;
}

#answers {
    counter-reset: answer-counter;
}

#answers > * {
    @extend .mc-box-pad;
    @extend .thin-border;
    
    padding-left: 3.5rem;
    
    display: block;
    width: 100%;

    color: inherit;
    text-align: inherit;

    background: $input-bg-colour;
    border-color: #000;
    border-radius: 0;
    
    position: relative;

    &::before {
        list-style-type: upper-alpha;
        content: counter(answer-counter, upper-alpha);
        counter-increment: answer-counter;
        padding: 0.2rem 0.4rem;
        line-height: 1;
        background: $mc-colour-1;
        color: fg-on-bg($mc-colour-1);
        
        display: inline-block;
        position: absolute;
        left: 0.8rem;
        top: 50%;
        margin-top: -1rem;

        font-weight: bold;
        font-size: 1.7rem;
    }

    &:hover {
        background: #eee;
        cursor: pointer;
    }

    & + * {
        border-top: 0;
    }

    &.selected {
        background: $uq-colour-B5;
        color: fg-on-bg($uq-colour-B5);
    }
}

#answers.locked > * {
    background: $input-disabled-bg-colour;
    color: inherit;

    &.selected {
        background: $uq-colour-B5;
        color: fg-on-bg($uq-colour-B5);
    }
}

#client-justifications {
    padding: 0;
    margin: 1em 0 0 0;
    background: transparentize($mc-colour-1, 0.9);
    
    list-style: none;

    li {
        position: relative;

        white-space: pre-wrap;
        padding: 0.5rem 1rem 0.5rem 2.5rem;

        & + li {
            border-top: $thin-border-width solid;
        }

        &::before {
            content: attr(data-client-id);
            display: inline-block;

            position: absolute;
            top: 50%;
            left: 0.6rem;

            background: #000;
            color: #fff;
            
            text-align: center;
            line-height: 1;

            width: 1.4rem;
            height: 1.4rem;
            font-size: 1.2rem;
            padding-top: 0.1rem;
            margin-top: -0.7rem;
        }

        &[data-client-id="1"] {
            color: $client-1-colour;

            &::before {
                background: $client-1-colour;
            }
        }

        &[data-client-id="2"] {
            color: $client-2-colour;
            
            &::before {
                background: $client-2-colour;
            }
        }

        &[data-client-id="3"] {
            color: $client-3-colour;
            
            &::before {
                background: $client-3-colour;
            }
        }
    }
}

#justification {
    @extend .thin-border;

    display: block;
    width: 100%;
    height: 10em;
    resize: vertical;
    overflow: auto;

    background: $input-bg-colour;
    color: inherit;

    &:disabled {
        background: $input-disabled-bg-colour;
    }
}

#char-available {
    display: inline-block;
    margin-right: 1em;
    color: #aaa;
}

#char-available.invalid {
    color: red;
}

/** Chat */

#chat-box {
    background: $input-bg-colour;

    border: 0.05rem solid;
    overflow-y: scroll;
    height: 35em;

    & > blockquote {
        margin: 0;
        clear: both;
        position: relative;
        text-align: right;
        line-height: 1;
        
        margin: 1rem 0.5rem;
        border-bottom: 0.2rem solid;
        border-image: linear-gradient(to right, currentColor, currentColor 3rem, transparent 60%, transparent) 1;

        &::after {
            content: attr(data-client-id);
            display: inline-block;

            position: absolute;
            bottom: 0;
            left: 0;

            background: #000;
            color: #fff;
            
            text-align: center;
            line-height: 1;

            width: 2rem;
            height: 2rem;
            font-size: 1.6rem;
            padding-top: 0.3rem;
        }

        // Message coming from system
        &[data-client-id="-1"]::after {
            content: "";
        }

        p {
            display: block;

            border: 0;
            margin: 0.2rem 0 0.2rem 2rem;
            padding: 0.2rem 0.7rem;
            
            text-align: left;
            line-height: 1.2;

            & + p {
                margin-top: -0.2rem;
                border-top: 0;
            }
        }

        &[data-client-id="1"] {
            color: $client-1-colour;

            &::after {
                background: $client-1-colour;
            }
        }

        &[data-client-id="2"] {
            color: $client-2-colour;
            
            &::after {
                background: $client-2-colour;
            }
        }

        &[data-client-id="3"] {
            color: $client-3-colour;
            
            &::after {
                background: $client-3-colour;
            }
        }
    }
}


#chat-input-wrapper {
    display: table;
    width: 100%;
    margin-top: 0.3rem;
}

#chat-input-wrapper > div {
    display: table-cell;
}

#chat-input {
    @extend .thin-border;

    width: 100%;
    background: $input-bg-colour;
}

#chat-input-button-wrapper {
    width: 1px;
    padding-left: 0.3rem;
}













/********** Backup client **********/

#backup-client-wait-management-area {
    display: table;
    width: 100%;
    max-width: 50em;
}

#backup-client-wait-management-area > div {
    display: table-cell;
    padding: 0 1em;
}

#backup-client-wait-management-area > div + div {
    border-left: 1px solid #ddd;
}

#number-of-clients-in-pool {
    display: block;
    font-size: 5em;
}

#transfer-remaining-seconds {
    color: red;
    font-weight: bold;
    font-size: 1.8em;
}














/********** Media queries **********/

// Narrower devices (~1100px)
@media (max-width: 70rem) {
    html, body {
        font-size: $body-std-font-size * 0.9;
    }
    
    .table {
        &.narrow-block,
        &.narrow-block > .row,
        &.narrow-block > .row > * {
            display: block;
            width: 100%;
        }
    }
}