// Color Variables

$buttonBg: #e8eaeb;
$disabled: #a6a8aa;
$text: #515456;
$primary: #225566;
$mainBg: #f9fbfc;
$secondaryBg: #fafafa;
$tertiaryBg: #a9aaab;
$white: #fff;

$baseLight1: #6dc7b7;
$baseDark1: #60afa1;
$baseLight2: #99b204;
$baseDark2: #869b03;
$baseLight3: #ffae00;
$baseDark3: #e8a004;
$baseLight4: #ff7659;
$baseDark4: #e26a51;
